:root {
	--gantt-main-color: #165dff;
	--gantt-bg-color: #e5e6eb;
	--gantt-tick-color: #86909c;
	--gantt-header-tick-color: var(--gantt-tick-color);
	--gantt-header-text-color: #4e5969;
	--gantt-header-text-font-size: 14px;

	--gantt-tick-width: 0.2;
	--gantt-tick-maker-width: var(--gantt-tick-width);

	--gantt-v-scroll-mask-bg-color: white;

	--gantt-row-line-color: var(--gantt-tick-color);
	--gantt-row-bg-color: transparent;

	--gantt-time-range-text-color: var(--gantt-main-color);
	--gantt-time-range-stroke-width: 1;
	--gantt-time-range-stroke-color: var(--gantt-main-color);

	--gantt-current-time-line-stroke-width: 1;
	--gantt-current-time-line-stroke-color: #ff7d00;
	--gantt-current-time-line-font-size: 13px;
	--gantt-current-time-line-font-weight: bold;
	--gantt-current-time-line-stroke-dasharray: 0, 5, 10;

	--gantt-current-time-line-text-color: var(
		--gantt-current-time-line-stroke-color
	);

	--gantt-event-item-font-size: 12px;
	--gantt-event-item-font-weight: 600;
	--gantt-event-item-style-rect-text-color: white;
	--gantt-event-item-style-line-text-color: var(--gantt-main-color);
	--gantt-event-item-style-rect-color: var(--gantt-main-color);
	--gantt-event-item-style-line-color: var(--gantt-event-item-style-rect-color);

	--gantt-event-item-resize-color: white;
	--gantt-event-item-resize-stroke-width: 1;

	--gantt-event-item-left-resize-stroke-width: var(
		--gantt-event-item-resize-stroke-width
	);
	--gantt-event-item-right-resize-stroke-width: var(
		--gantt-event-item-resize-stroke-width
	);

	--gantt-event-item-resize-stroke-color: var(
		--gantt-event-item-style-rect-color
	);
	--gantt-event-item-left-resize-stroke-color: var(
		--gantt-event-item-resize-stroke-color
	);
	--gantt-event-item-right-resize-stroke-color: var(
		--gantt-event-item-resize-stroke-color
	);

	--gantt-scrollbar-width: 12px;
	--gantt-scrollbar-height: var(--gantt-scrollbar-width);
	--gantt-scrollbar-thumb-bg-clip: padding-box;
	--gantt-scrollbar-thumb-bg-color: transparent;
	--gantt-scrollbar-thumb-bg-hover-color: rgb(201, 205, 212);
	--gantt-scrollbar-thumb-border: 4px solid transparent;
	--gantt-scrollbar-thumb-border-radius: 7px;
}

.bbl-gantt-v-scroll-mask {
	width: calc(var(--gantt-scrollbar-width) * 2);
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background-color: var(--gantt-v-scroll-mask-bg-color);
	z-index: 999;
	display: none;
}

.bbl-gantt-container {
	overflow: auto;
	max-width: 100%;
	height: 100%;
	position: relative;

	&.no-scroll-bar {
		overflow: hidden;
	}

	// &:hover {
	// 	&::-webkit-scrollbar-thumb {
	// 		background-color: var(--gantt-scrollbar-thumb-bg-hover-color);
	// 	}
	// }
	&::-webkit-scrollbar-thumb {
		border: var(--gantt-scrollbar-thumb-border);
		background-clip: var(--gantt-scrollbar-thumb-bg-clip);
		border-radius: var(--gantt-scrollbar-thumb-border-radius);
		// background-color: var(--gantt-scrollbar-thumb-bg-color);
		background-color: var(--gantt-scrollbar-thumb-bg-hover-color);
	}

	&::-webkit-scrollbar {
		width: var(--gantt-scrollbar-width);
		height: var(--gantt-scrollbar-height);
	}

	&::-webkit-scrollbar-corner {
		background-color: transparent;
	}

	.row-bg {
		fill: var(--gantt-row-bg-color);
	}

	.bbl-gantt-body {
		.header {
			.header-bg {
				fill: var(--gantt-bg-color);
			}

			.time-tick-item {
				fill: var(--gantt-header-tick-color);
			}

			.time-tick-text {
				fill: var(--gantt-header-text-color);
				font-size: var(--gantt-header-text-font-size);
			}
		}
		.time-range {
			.time-range-text {
				fill: var(--gantt-time-range-text-color);
				font-weight: 600;
			}

			.time-range-line {
				stroke-width: var(--gantt-time-range-stroke-width);
				stroke: var(--gantt-time-range-stroke-color);
			}
		}

		.current-time {
			.current-time-line {
				stroke-width: var(--gantt-current-time-line-stroke-width);
				stroke: var(--gantt-current-time-line-stroke-color);
				stroke-dasharray: var(--gantt-current-time-line-stroke-dasharray);
			}

			.current-time-text {
				fill: var(--gantt-current-time-line-text-color);
				font-size: var(--gantt-current-time-line-font-size);
				font-weight: var(--gantt-current-time-line-font-weight);
			}
		}

		.rows {
			.row-line {
				fill: var(--gantt-row-line-color);
			}
		}

		.ticks {
			.tick-item {
				fill: var(--gantt-tick-color);
			}
		}

		.events {
			.event-item {
				fill: var(--gantt-event-item-style-rect-color);
				cursor: move;
				&.no-move {
					cursor: auto;
				}

				&.no-resize {
					.event_reisze {
						cursor: auto;
					}
				}

				.event_reisze {
					fill: var(--gantt-event-item-resize-color);
					stroke: var(--gantt-event-item-resize-stroke-color);
					stroke-width: var(--gantt-event-item-resize-stroke-width);
					cursor: ew-resize;
				}
			}
			.event-text {
				color: var(--gantt-event-item-style-rect-text-color);
				user-select: none;
				font-size: var(--gantt-event-item-font-size);
				font-weight: var(--gantt-event-item-font-weight);
			}

			.style-rect {
			}

			.style-line {
				.event-text {
					color: var(--gantt-event-item-style-line-text-color);
				}
			}
		}
	}

	.bbl-gantt-svg {
		background: var(--gantt-bg-color);
		position: absolute;
		left: 0;
		top: 0;
	}
}
